<div class="row">
  <div class="u-full-width">     
      <iframe src="//banners.itunes.apple.com/banner.html?partnerId=&aId=1001lmX&bt=catalog&t=catalog_white&id=394359931&c=us&l=en-US&w=320&h=50" frameborder=0 style="overflow-x:hidden;overflow-y:hidden;width:320px;height:50px;border:0px"></iframe>
  </div>    
</div>    
<div class="row">
    <div class="twelve columns">
		<div class="wls-button-panel">
			<a ui-sref="index"><button type="button" class="btn btn-primary">Home</button></a>
		</div>

	</div> 
</div>

<div class="row">
	<div class="twelve columns">
	    <p>Woody Lewis holds an M.F.A. in fiction from the Bennington Writing Seminars, where he studied with Alice Mattison, Lynne Sharon Schwartz, Phillip Lopate, Askold Melnyczuk and Martha Cooley. He also has a B.A. in music and an M.B.A. in finance from Columbia. </p>
	    <p>As a technologist, he has worked at Cisco Systems, IBM, Yahoo, Stanford University, Time Inc. and Chronicle Books. His consulting practice has included clients such as Viacom, Time Warner, AT&T, Microsoft and the City of Santa Clara. Woody has also worked in corporate finance at Citibank and Salomon Brothers.</p>
		<p>Woody's blog, <a href="#/list">The Social Publisher</a>, originally focused on social media strategy for newspapers. Its current focus includes digital publishing, random opinion, and reviews of Gotham culture. 
	 </div>
</div>