<div class="row">
  <div class="u-full-width">     
      <iframe src="//banners.itunes.apple.com/banner.html?partnerId=&aId=1001lmX&bt=catalog&t=catalog_white&id=394359931&c=us&l=en-US&w=320&h=50" frameborder=0 style="overflow-x:hidden;overflow-y:hidden;width:320px;height:50px;border:0px"></iframe>
  </div>    
</div>    
<div class="row">
    <div class="twelve columns">
		<div class="wls-button-panel">
			<a ui-sref="list"><button type="button" class="btn btn-primary">List</button></a>
		</div>
		<div ng-controller="PostCtrl" class="wls-blog-post-container">
			{{date}}&nbsp;&nbsp;&nbsp;{{currentTitle}}<br>
			<!-- BIND THE TRUSTED HTML -->
			<div ng-bind-html="markup"></div>
		</div>
	</div> 
</div>