<div class="row">
  <div class="u-full-width">
  	<a href="https://itunes.apple.com/us/album/inspired-by-bach-cello-suites/id518668394?uo=10&app=itunes&at=1001lmX"><img src="images/yo-yo-banner.png"></a>
  </div>    
</div>    
<div class="row">
    <div class="twelve columns">
		<div class="wls-button-panel">
			<a class="button button-primary" ui-sref="list">Blog</a>
		</div>
		<!--
		<div ng-controller="PostCtrl" class="wls-blog-post-container">
		-->
		<div class="wls-blog-post-container">
			{{currentTitle}}<br>
			{{date}}
			<!-- BIND THE TRUSTED HTML -->
			<div ng-bind-html="markup"></div>
		</div>
	</div> 
</div>