<div class="row">
  <div class="u-full-width">     
      <iframe src="//banners.itunes.apple.com/banner.html?partnerId=&aId=1001lmX&bt=catalog&t=catalog_white&id=394359931&c=us&l=en-US&w=320&h=50" frameborder=0 style="overflow-x:hidden;overflow-y:hidden;width:320px;height:50px;border:0px"></iframe>
  </div>    
</div>    
<div class="row">
    <div class="twelve columns">
		<div class="wls-button-panel">
			<a ui-sref="index"><button type="button" class="btn btn-primary">Home</button></a>
		</div>

	</div> 
</div>

<div class="row">
	<div class="twelve columns">
		<h6>Essays & Reviews</h6>
				<a href="http://www.consequencemagazine.org/book-reviews/clandestine-operations/" target="_blank">CONSEQUENCE - WTF</a>
				<br>
					<a href="http://www.consequencemagazine.org/consequence-online/non-fiction/cyber-warfare-the-narrative-in-the-network/" target="_blank">CONSEQUENCE - Cyber Warfare</a>
				<br>
					<a href="http://lareviewofbooks.org/essay/delillo-triumph-solitude" target="_blank">Los Angeles Review of Books</a>
				<br>
				<!--
					<a href="content/ticking-bomb">Pebble Lake Review</a>
				-->
					<a href="content/tammy-faye-channels-nico">Tammy Faye</a>
				<br>
					<a href="content/niloufar-talebi-prolific-geo-artist">Niloufar Talebi</a>
				<br>
					<a href="content/penny-arcade-lasting-longer">Penny Arcade</a>
					<p>
			<h6>Articles</h6>
					<a href="http://mashable.com/author/woody-lewis/" target="_blank">Mashable</a>
						<br>
					<a href="http://www.forbes.com/2009/12/09/social-media-director-business-media-journalism.html" target="_blank">Forbes</a>
						<br>
					<a href="http://www.columbiaspectator.com/contributors/woody-lewis" target="_blank">Columbia Spectator</a>
					<p>
			<h6>Video</h6>
					<a href="https://www.youtube.com/watch?v=JNzqnsRGYuk" target="_blank">AWP Screencast on Technical Writing</a> 
	 </div>
</div>